
<div class="jumbotron center">
	<h1>Welcome to</h1>
	<h1>W-9NINE!!! </h1>
	
	<p> Members Click Here to  <%= link_to "Sign In", "#", class: "btn btn-default btn-lg" %>.</p>
	
	<p> Esteemed Guest Please Click Here to  <%= link_to "Sign up", "#", class: "btn btn-default btn-lg" %>.</p>
	
 </div>