        <h1> W-9NINE TEAM  </h1>


<h3> Isaiya White, President, CEO, and Co-Founder</h3> <h4>Isaiya wears numerous hats of responsibility, and strives to be a lifelong student, traveler, and seeker of the good in people. </h4>
 
<h3> Patricia White, VP of Human Resources, and Co-Founder </h3>  <h4>Patricia is A true lover of history, and loves to discuss philosophical topics. </h4>

<h3>  Ronnie Howard, VP of Sales and Marketing, and Co-Founder</h3> <h4>Ronnie is a devoted Father of 3 lovely children, and is a lover of all things Basketball!!! </h4>

<h3> Karen Goloskie, Company Controller 
</h3> <h4>Karen is the very definition of Sage, and loves to go on long walks with her dog child. </h4>